{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{% if resources.data|length %}
    <div class="ui three cards">
        {% for case_study in case_studies.data %}
            {% if case_study.image %}
                {% set path = case_study.image|imagine_filter('monsieurbiz_case_study_image_thumbnail') %}
            {% else %}
                {% if use_webpack %}
                    {% set path = asset('build/shop/images/200x200.png', 'shop') %}
                {% else %}
                    {% set path = asset('assets/shop/img/200x200.png') %}
                {% endif %}
            {% endif %}

            <div class="ui fluid card">
                <a href="{{ path('monsieurbiz_case_study_case_study_show', { 'slug': case_study.slug }) }}" class="blurring dimmable image">
                    <div class="ui dimmer transition hidden">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button">
                                    {{ 'monsieurbiz_case_study.ui.read_more'|trans }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include '@MonsieurBizSyliusCaseStudyPlugin/Shop/CaseStudy/_image.html.twig' %}
                </a>
                <div class="content">
                    <a href="{{ path('monsieurbiz_case_study_case_study_show', { 'slug': case_study.slug }) }}" class="header">
                        {{ case_study.title }}
                    </a>
                    <div class="meta">
                        <span class="date">{{ case_study.publishedAt|format_date() }}</span>
                    </div>
                    {% if case_study.description %}
                        <div class="description">
                            {{ case_study.description|nl2br }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if configuration.isPaginated %}
        {{ pagination.simple(resources.data) }}
    {% endif %}
{% else %}
    {{ messages.info('sylius.ui.no_results_to_display') }}
{% endif %}
